<div class="content">
  <h1>Sobre mim</h1>

  <p>Meu nome é Fernando Gomes Pereira, tenho 29 anos e aqui vai um pouco da minha história.</p>

  <h2>Carreira acadêmica</h2>
  <p>Ainda no ensino médio, comecei a me interessar pela programação. Inciei o curso de Técnico em Informática pela ETEC Albert Einstein porém não concluí. Então decidi iniciar o curso de Técnico em Eletrônica também na ETEC, concluí porém ainda não era o que eu queria. Então resolvi voltar para o ramo da Programação e hoje sou Recém formado em Análise e desenvolvimento de sistemas pela Faculdade Impacta.</p>

  <h2>Carreira Profissional</h2>

  <h3>Softclever</h3>
  <p>Comecei minha carreira como estagiário em uma empresa que mantém um ERP feito em Delphi com o banco de dados Firebird, meu trabalho principal era realizar manutenção no software através de Ordens de Serviço. Uma outra tarefa interessante era criar novas funcionalidades para este software.</p>
  <p>Realizei alguns projetos, dentre eles, o mais relevante foi criar um emissor de nota fiscal na Web, a princípio utilizando C# no Backend mas depois optamos por utilizar Delphi no Backend e Angular no Frontend</p>

  <h3>Integral-Trust</h3>
  <p>Iniciei como Programador Junior, agora numa empresa do setor Financeiro e onde eu trabalho até o presente momento.</p>
  <p>Minha tarefa principal é dar manutenção nos softwares internos onde os operadores fazem o processamento diário de um FIDC (Fundo de investimento em direitos creditórios). São aplicações Desktop utilizando as tecnologias Delphi ou C# (Windows Forms) e banco de dados SQL Server.</p>
  <p>Já atuei em aplicações Web utilizando Angular, AngularJS e Razor.</p>

  <h2>Habilidades</h2>
  <div class="list__habilidades">
    <div>
      <h3>Backend:</h3>
      <ul>
        <li>.Net</li>
        <li>Entity Framework</li>
        <li>NHibernate</li>
        <li>Delphi</li>
      </ul>
    </div>

    <div>
      <h3>Frontend:</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Angular</li>
      </ul>
    </div>

    <div>
      <h3>Banco de dados:</h3>
      <ul>
        <li>PostgreSQL</li>
        <li>SQL Server</li>
        <li>MySQL</li>
        <li>Firebird</li>
      </ul>
    </div>

    <div>
      <h3>Outros conhecimentos:</h3>
      <ul>
        <li>Docker</li>
        <li>Git</li>
        <li>Git Flow</li>
        <li>SVN</li>
      </ul>
    </div>
  </div>

</div>

