mat-toolbar {
  background-color: transparent;

  mat-icon {
    color: white;
  }

  button {
    background-color: transparent;
  }

  button:hover {
    background-color: rgba(0,255,0,0.2);
    transition: background-color 200ms;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .active {
    background-color: rgba(0,255,0,0.5);
  }
}




